<form class="filtered-form" [formGroup]="filteredForm">
  <h2 class="filtered-title">Filter By Period</h2>

  <mat-form-field>
    <input matInput
           placeholder="Choose a date"
           [satDatepicker]="picker2"
           formControlName="date">
    <sat-datepicker #picker2 [rangeMode]="true">
    </sat-datepicker>
    <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
  </mat-form-field>

  <div class="filtered-reset">
    <button mat-raised-button color="accent" (click)="resetForm()">Reset</button>
  </div>

  <ul class="filtered-list" *ngIf="currenciesByPeriod.dates && currenciesByPeriod.dates.length; else empty">
    <li *ngFor="let date of currenciesByPeriod.dates">
      <div class="date">
        {{ date }}
      </div>
      <div class="item-height">
        <ng-container *ngFor="let items of currenciesByPeriod.currencies | keyvalue">
          <div class="item" *ngFor="let value of items.value | keyvalue">
            <span class="item-key">{{ value.key }}</span>
            <span class="item-value">{{ value.value }}</span>
          </div>
        </ng-container>
      </div>
    </li>
  </ul>
</form>

<ng-template #empty>
  <div class="failed-data" *ngIf="filteredForm.touched || filteredForm.dirty">No data by this period</div>
</ng-template>
