<form class="conversion-form" [formGroup]="conversionForm">

  <h2 class="conversion-title">Conversion</h2>

  <div class="form-row">
    <div class="form-set">
      <mat-form-field appearance="fill">
        <mat-label>Enter value</mat-label>
        <input matInput formControlName="valueFrom">
        <mat-error *ngIf="conversionForm.get('valueFrom').errors?.pattern">Only Numbers</mat-error>
        <mat-error *ngIf="conversionForm.get('valueFrom').errors?.required">Required</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="with-select" *ngIf="currencies">
        <mat-select formControlName="currencyFrom">
          <mat-option value="{{currency.key}}" *ngFor="let currency of currencies.rates | keyvalue">{{ currency.key }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button class="conversion-btn" [class.disabled]="!conversionForm.get('valueFrom').value || conversionForm.get('valueFrom').invalid"></button>

    <div class="form-set">
      <mat-form-field appearance="fill">
        <mat-label>Convert value</mat-label>
        <input matInput [value]="currencyTo ? currencyTo : null" disabled>
      </mat-form-field>
      <br>
      <mat-form-field class="with-select" *ngIf="currencies">
        <mat-select formControlName="currencyTo">
          <mat-option value="{{currency.key}}" *ngFor="let currency of currencies.rates | keyvalue">{{ currency.key }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-error form-error-compare" *ngIf="!!conversionForm.errors?.compare">Currencies can not match</div>
  </div>
</form>
